.directory
deploy/rsa_pub/*
.env

/application/public/wp-admin/
/application/public/wp-content/index.php
/application/public/wp-content/languages
/application/public/wp-content/plugins/index.php
/application/public/wp-content/themes/index.php
/application/public/wp-includes/
/application/public/index.php
/application/public/license.txt
/application/public/readme.html
/application/public/wp-*.php
/application/public/xmlrpc.php
/application/publicwp-config.php
/application/public/wp-content/themes/twenty*/
/application/public/wp-content/plugins/hello.php
/application/public/wp-content/plugins/akismet
/application/public/wp-content/uploads/
/application/public/index.html
*.log
*.htaccess

